<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Luvi" version="1.1.5231.29416" targetFramework="win81" />
  <package id="Luvi.WinRT" version="1.1.5231.29422" targetFramework="win81" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="win81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="win81" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="win81" />
</packages>