<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net45" />
  <package id="Luvi" version="1.1.5235.27159" targetFramework="net45" />
  <package id="Luvi.WPF" version="1.1.5235.27247" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.13.1.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="Portable.MvvmLightLibs" version="4.3.31.2" targetFramework="net45" />
</packages>