<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Luvi" version="1.0.5206.32437" targetFramework="net45" />
  <package id="Luvi.WPF" version="1.0.5206.32381" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.12.1.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.19" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net45" />
  <package id="Portable.CommonServiceLocator" version="1.2.2" targetFramework="net45" />
  <package id="Portable.MvvmLightLibs" version="4.2.30.1" targetFramework="net45" />
  <package id="Portable.Ninject" version="3.2" targetFramework="net45" />
  <package id="Unofficial.Blend.Interactivity" version="1.0.0" targetFramework="net45" />
</packages>